html, body{
	height:100%;
	width: 100%;
	margin-bottom: 10px;
	
}
h1 {

}
li {
	display: inline-block;
	padding:20px;
	margin:10px;


}
#project{

	margin:0px auto;
}
#contact-info{
	margin: 0px auto;

}
a{
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
**/